<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.lgy.course.dao.CourseSelectionDao">
    <delete id="deleteByUidAndCourseId">
        delete from course_selection where student_id =
        (select id from student where user_id = #{userId}) and course_id = #{courseId}
    </delete>

    <select id="queryByStuId" resultType="com.lgy.course.vo.CourseSelectionVO">
        select cs.sign_score as sign_score,
               cs.work_score as work_score,
               cs.exp_score as exp_score,
               cs.exam_grade as exam_grade,
               cs.course_id as course_id,
               course.college as college,
               course.name as name,
               course.grade as grade,
               course.cno as cno,
               teacher.tno as tno,
               `user`.username as tname
        from course_selection cs
                 inner join course on course.id = cs.course_id
                 inner join teacher on teacher.id = course.teacher_id
                 inner join `user` on teacher.user_id = `user`.id
        where student_id = #{id}
    </select>
    <select id="querySnoInDif" resultType="com.lgy.course.vo.CourseSnoVO">
        SELECT
            CASE
                WHEN ROUND(c.sign_score + c.work_score + c.exp_score + c.exam_grade * 0.7, 1) >= 90 THEN '优'
                WHEN ROUND(c.sign_score + c.work_score + c.exp_score + c.exam_grade * 0.7, 1) >= 80 THEN '良'
                WHEN ROUND(c.sign_score + c.work_score + c.exp_score + c.exam_grade * 0.7, 1) >= 70 THEN '中'
                WHEN ROUND(c.sign_score + c.work_score + c.exp_score + c.exam_grade * 0.7, 1) >= 60 THEN '及格'
                ELSE '不及格'
                END AS grade,
            GROUP_CONCAT(s.sno) AS snos
        FROM course_selection c
                 JOIN student s ON c.student_id = s.id
        WHERE c.course_id = #{cId}
        GROUP BY grade;
    </select>
</mapper>